body {
    background: #0d1c24;
    color: white;
    font-family: Arial;
}

.cover {
    width: 80px;
    height: 110px;
    background: #c08aa6;
    border-radius: 6px;
    margin-bottom: 10px;
}

/* Kommentarbereich */
.comments h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.comments input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #355c6b;
    background: #0c1f2a;
    color: white;
}

.comments button {
    margin-top: 6px;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background: #1a6a86;
    color: white;
    cursor: pointer;
}

.comments button:hover {
    background: #2182a6;
}

.comment p {
    margin: 3px 0;
}

.comment b {
    color: #78d2eb;
}


.heart {
    cursor: pointer;
    font-size: 22px;
    margin-left: 8px;
    color: white;
    transition: 0.2s;
}

.heart.liked {
    color: #ff5a5a;
    text-shadow: 0 0 6px #ff5a5a;
}