body {
    background: #0d1c24;
    color: white;
    font-family: Arial;
}

.card {
    background: #133040;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    width: 300px;
}

.heart {
    cursor: pointer;
    font-size: 22px;
    margin-left: 8px;
    color: white;
    transition: 0.2s;
}

.heart.liked {
    color: #ff5a5a;
    text-shadow: 0 0 6px #ff5a5a;
}